.c-instagram {
  display: flex;
  flex-flow: column;
  position: relative;
}

.c-instagram__header {
  align-items: center;
  border-bottom: 1px solid #efefef;
  display: inline-flex;
  margin-top: 1em;
  max-width: 100%;
  padding-bottom: 1em;
  order: 1;
}

.c-instagram__avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.c-instagram__username {
  color: #262626;
  margin-left: 1em;
}

.c-instagram__caption {
  color: #000000;
  order: 2;
}
