.c-feed {
  max-width: 1400px;
  margin: auto;
}

@supports (grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))) {
  .c-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px;
  }
}

.c-feed__heading {
  font-size: 2em;
  text-align: center;
}
