.c-filters {
  /*padding: 1em;*/
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
  text-align: center;
}

.c-filter {
  position: relative;
  flex-grow: 1
}

.c-filter:nth-of-type(2) {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.c-filters__heading {
  flex-grow: 1;
}


.c-filter__input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.c-filter__label {
  display: block;
  padding: 1em;
}

.c-filter__input:checked + .c-filter__label {
  background-color: #262626;
  color: white;
}

