.c-filters {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  margin-bottom: 1.5em;
}

.c-filter {
  position: relative;
  border: 2px solid lightsalmon;
  flex-grow: 1
}

.c-filters__heading {
  flex-grow: 1;
}


.c-filter__input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.c-filter__label {
  display: block;
  padding: 1em;
}

.c-filter__input:checked + .c-filter__label {
  background-color: greenyellow;
}

