.c-filters {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
  text-align: center;
}

.c-filter {
  flex-grow: 1;
  position: relative;
}

.c-filter:nth-of-type(2) {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.c-filters__heading {
  flex-grow: 1;
}

.c-filter__input {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.c-filter__label {
  background-color: #efefef;
  cursor: pointer;
  display: block;
  padding: 1em;
  transition: background-color ease .3s;
}

.c-filter__input:checked + .c-filter__label {
  background-color: #bababa;
  color: white;
  transition: background-color ease .3s;
}

