.c-card {
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.10), -2px 3px 2px rgba(0, 0, 0, .10), 0 -2px 2px rgba(0, 0, 0, .10);
  float: left;
  margin-right: 1em;
  max-width: 344px;
  padding: 1em;
  position: relative;
}

@supports (grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))) {
  .c-card {
    max-width: 100%;
    margin-right: 0;
  }
}

.c-card:last-of-type {
  margin-right: 0;
}

.c-card__image-label {
  background-color: white;
  border-radius: 20%;
  height: 50px;
  left: calc(1em / 2);
  position: absolute;
  top: calc(1em / -1);
  width: 50px;
  z-index: 100;
}
