.c-ellipsis {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}

.c-ellipsis div {
  width: 20px;
  height: 20px;
}
.c-ellipsis--small div {
  width: 10px;
  height: 10px;
}

.c-ellipsis div {
  display: inline-block;
  animation: ellipsisLoading 1.4s infinite;
  animation-fill-mode: both;
}

.c-ellipsis svg {
  display: block;
}

@keyframes ellipsisLoading {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.25);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.c-ellipsis--fast div {
  animation-duration: 1s;
}

.c-ellipsis div:nth-child(2) {
  animation-delay: 0.2s;
}

.c-ellipsis div:nth-child(3) {
  animation-delay: 0.4s;
}

