
body {
  font-family: sans-serif;
  line-height: 20px;
}


h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #14171a;

}

img {
  display: block;
  width: 100%;
  height: auto;
}


